
.container{
    padding-top: 100px;
}

.collection-img{
    overflow: hidden;
}

.collection-img img{
    height: 310px;
    width: 310px;
    display: block;
    transition: transform 1s;
}

.collection-img:hover img{
    transform: scale(1.3);
} 

.title img{
    height: 5rem;
}

.banner img{
    width: 990px;
}

/* <!-- scrollup --> */

  #scrollUp {
    bottom: 20px;
    right: 20px;
    background-image: url('../images/top.png');
    width: 38px;
    height: 38px;
  }

    /*-------------------------------------scroll-bar---------------------------------------*/
body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #0ef;
    --sb-size: 12px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    
    }
    /*----------------------------scroll-bar-end-------------------------------------------*/